{% extends "base.html" %}

{% block content %}
    <h1>Reorder Detail</h1>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Reorder Quantity</th>
                    <th>Processed Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ reorder.product }}</td>
                    <td>{{ reorder.quantity }}</td>
                    <td>{{ reorder.processed }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="{% url 'warehouse:Process Reorder' reorder.pk %}">
            <button type="submit">DISPATCH</button>
        </a>

        <br>
        <a href="{% url 'store:Product' %}">Back to Product List</a>
        <br>
        <a href="{% url 'warehouse:Reorder' %}">Back to Reorder List</a>
{% endblock %}