{% extends "base.html" %}

{% block content %}
    <h1>Product List</h1>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Reorder Level</th>
                </tr>
            </thead>
            <tbody>
                {% for product in object_list  %}
                    <tr>
                    <td><a href="{{ product.pk }}">{{ product.name }}</a> </td>
                    <td> {{ product.quantity }} </td>
                    <td> {{ product.reorder_level }} </td>     
                {% endfor %}
                    </tr>
            </tbody>
        </table>
{% endblock %}