{% extends "base.html" %}


{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Product Detail</h1>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Reorder Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.reorder_level }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="{% url 'store:Sell' product.pk %}">
            <button type="submit">SELL</button>
        </a>
        <a href="{% url 'store:Reorder Product' product.pk %}">
            <button type="submit">REORDER</button>
        </a>
        

        <br>
        <a href="{% url 'store:Product' %}">Back to Product List</a>
        <br>

{% endblock %}