{% extends "base.html" %}

{% block content %}
    <h1>Reorder List</h1>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Reorder Quantity</th>
                    <th>Status</th>
                    <th>Process Reorder</th>
                </tr>
            </thead>
            <tbody>
                {% for reorder in object_list  %}
                    <tr>
                    <td><a href="{{ reorder.pk }}">{{ reorder.product }}</a> </td>
                    <td> {{ reorder.quantity }} </td>
                    <td> {{ reorder.processed }} </td>
                    {% if reorder.status == True %}
                    <td><span>Processed</span></td>
                    {% else %}
                    <td>
                        <a href="{% url 'warehouse:Process Reorder' reorder.pk%}">
                            <button type="submit">
                                Process Reorder
                            </button>
                        </a>
                    </td>   
                    {% endif %}
                {% endfor %}
                    </tr>
            </tbody>
        </table>
        <br>
{% endblock %}