{% extends "base.html" %}

{% block content %}
    <h1>Reorder List</h1>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Reorder Quantity</th>
                    <th>Processed Status</th>
                </tr>
            </thead>
            <tbody>
                {% for reorder in object_list  %}
                    <tr>
                    <td><a href="{{ reorder.pk }}">{{ reorder.product }}</a> </td>
                    <td> {{ reorder.quantity }} </td>
                    <td> {{ reorder.processed }} </td>     
                {% endfor %}
                    </tr>
            </tbody>
        </table>
{% endblock %}